
.myheader .ali{
  background-color: teal;
}

.hide-when-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center
}

/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}


@media (max-width: 800px) {
  .show-when-mobile {
    display: block;
    font-size: 16px;
  }
  
  .hide-when-mobile {
    display: none;
  }
}
.signout
{
  all:unset;
  padding: 8px 15px;
}
.Light .signout
{
  color: rgb(255, 255, 255);
}














